nav {
    /* width: 100vw; */
    /* display: block; */
    width: 15%;
    padding: 0rem 0rem 2rem 0rem;
    box-shadow: 1px 2px 5px 0.3px #b9b9b9;
    background: rgb(220, 53, 69, 1);
    color: #fff;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.nav-header {
    display: flex;
    align-items: center;
    margin: 0rem;
    padding: 0.3rem 0rem 0.3rem 0.2rem;
    text-decoration: none;

}


.trip-letters {
    font-size: 1.8em;
    padding-left: 0.1rem;
    cursor: pointer;
    color: #fff;

}

.nav-header:hover {
    background: #fff;
    text-decoration: none;
}

.nav-header:hover .trip-letters {
    color: #dc3545;
    text-decoration: none;
}

.nav-header:hover .trip-logo {
    color: #fff;
    background: #dc3545;
    border: 1.5px solid #fff;
    cursor: pointer;
    text-decoration: none;
}

.navlink-container {
    margin: 1.2rem 0rem 0rem 0rem;
    padding: 0rem;
}


.navlink {
    display: block;
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    padding: 0.4rem 0.2rem 0.4rem 0.2rem;

}


.navlink:hover {
    text-decoration: none;
    color: #dc3545;
    background: #fff;
}

.nav-ham {
    display: none;
    font-size: 1.8em;
    text-align: center;
}

.nav-ham:hover {
    color: rgb(200, 200, 200)
}

@media screen and (max-width: 960px) {
    .nav-ham {
        display: initial;
    }

    .nav-hidden {
        display: none;
    }

    .nav-visible {
        display: initial;
    }
}