<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Fontawesome icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous" />

    <!-- Custom Stylesheets -->
    <!-- Base CSS (Must-have) -->
    <link rel="stylesheet" href="../stylesheets/base.css">
    <!-- Navbar CSS (Must-have) -->
    <link rel="stylesheet" href="../stylesheets/modules/navbar.css">

    <link rel="stylesheet" href="../stylesheets/themes/sp-profile.css">


    <title>PADA-Rides</title>
</head>

<body>
    <div class="all-content">
        <!-- Nav -->
        <nav>
            <!-- Dropdown hamburger -->
            <div class="nav-ham">
                <i class="fas fa-bars"></i>

            </div>


            <a href="/">
                <div class="nav-header nav-hidden">
                    <div class="trip-logo">T</div>
                    <span class="trip-letters">rip</span>
                </div>
            </a>

            <div class="navlink-container nav-hidden">
                <a href="/" class="navlink">Home</a>
            </div>

            <div class="navlink-container nav-hidden">
                <a href="./sp-dashboard.html" class="navlink">Dashboard</a>
            </div>

            <div class="navlink-container nav-hidden">
                <a href="./sp-profile.html" class="navlink">Profile</a>
            </div>

            <div class="navlink-container nav-hidden">
                <a href="#" id="logoutBtn" class="navlink">Logout</a>
            </div>

        </nav>

        <!-- Middle content -->
        <div class="mid-content">

            <div class="trip-card">

                <!-- Profile image -->
                <div class="details">

                    <div id="profileContainer" class="details-left">

                        <img id="spProfile"
                            src="https://images.pexels.com/photos/2918519/pexels-photo-2918519.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                            alt="">
                    </div>


                    <div class="details-right">
                        <!-- Upload btn -->
                        <button class="upload-photo-btn  btn btn-danger">Upload new photo</button>
                        <!-- Delete btn -->
                        <button class="delete-photo-btn  btn btn-secondary">Delete</button>
                    </div>

                </div>

                <!-- User details -->

                <div class="details">
                    <div class="details-left trip-bold">
                        First Name:
                    </div>
                    <div class="details-right">
                        <input type="text" placeholder="First name" id="firstName">
                    </div>
                </div>


                <div class="details">
                    <div class="details-left trip-bold">
                        Last Name:
                    </div>
                    <div class="details-right">
                        <input type="text" placeholder="Last name" id="lastName">
                    </div>
                </div>


                <div class="details">
                    <div class="details-left trip-bold">
                        Phone Number:
                    </div>
                    <div class="details-right">
                        <input type="number" placeholder="Phone Number" id="phoneNummber">
                    </div>
                </div>


                <div class="details">
                    <div class="details-left trip-bold">
                        Email:
                    </div>
                    <div class="details-right">
                        <input type="text" placeholder="Email" id="email">
                    </div>
                </div>

                <hr>

                <div>
                    <h5 class="trip-bold">Bio:</h5>


                    <textarea class="bio-text" name="bio" id="bio" cols="60" rows="7"
                        placeholder="Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima aspernatur dignissimos quia assumenda nostrum, culpa iste sunt nesciunt molestias accusamus, sitobcaecati repellendus iure quam eos incidunt. Accusamus, earum iusto?"></textarea>

                    <button class="btn btn-success" id="saveChanges">
                        Save changes
                    </button>
                </div>

            </div>

        </div>
    </div>

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <!-- Navbar controller -->
    <script src="../scripts/module-scripts/nav-bar.js"></script>

    <script src="../scripts/animations/profiles.js"></script>
    <script src="../scripts/data-control/sp-profile.js"></script>
    <script src="../scripts/data-control/navbar.js"></script>
</body>

</html>