/* Web layout */
#container{
  display: flex;
  flex-direction: column;
}
#logo{
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#content{
  flex: 10;
  display: flex;
  text-align: center;
}
#logIn{
  flex: 6;
  padding: 15% auto;
}
#loginCard{
  padding: 15% auto;
}
#signUp{
  flex: 6;
}

/* Mobile Layout */
@media (max-width: 960px){
#content{
  display: flex;
  flex-direction: column;
}
#logIn{
  flex: 6;
}
#signUp{
  flex: 6;
}
}

label{
  font-weight: bold;
}
input, select{
  max-width: 100%;
  margin: 0.2rem 0rem 1rem 0rem;
}
button{
  margin: 0.5rem;
}