/*For web layout*/
#container{
	display: flex;
}
#carousel{
	width: 40%;
}
#details{
	width: 60%;
	padding: 10%;
}

/*For mobile layout*/
@media screen and (max-width: 960px){
	#container{
		display: flex;
		flex-direction: column;
	}
	#details{
		height: 50%;
		padding: 5%;
	}
	#carousel{
		height: 50%;
	}
}